
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap'); */
.navbar{
    box-shadow: 2px 2px whitesmoke;
    font-family: monospace;
    /* font-family: 'EB Garamond', serif; */
    position: sticky;
    background-color: white;
    top: 0;
    z-index:1;
}
span{
    letter-spacing: 2px;
}
.imgalign{
    position: absolute;
    top: 48%;
    left: 40%;
}
.navbar-nav{
    position: absolute;
    top: auto;
    left:80%;
}
